name: Build, Push & Deploy (Multi-Env)

on:
  push:
    branches:
      - main
      - staging
      - dev

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set branch environment
        run: |
          echo "Branch detected: ${{ github.ref_name }}"
          if [ "${{ github.ref_name }}" = "main" ]; then
            echo "ENV=prod" >> $GITHUB_ENV
            echo "PORT=5000" >> $GITHUB_ENV
          elif [ "${{ github.ref_name }}" = "staging" ]; then
            echo "ENV=staging" >> $GITHUB_ENV
            echo "PORT=5001" >> $GITHUB_ENV
          else
            echo "ENV=dev" >> $GITHUB_ENV
            echo "PORT=5002" >> $GITHUB_ENV
          fi

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/crud-react-app:${{ env.ENV }} .

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/crud-react-app:${{ env.ENV }}

      - name: Deploy on Ubuntu Server
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}
          HOST: ${{ secrets.HOST_NAME }}
          USER: ${{ secrets.USER_NAME }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          ENV: ${{ env.ENV }}
        run: |
          echo "$SSH_KEY" > key.pem
          chmod 600 key.pem

          ssh -o StrictHostKeyChecking=no -i key.pem ${USER}@${HOST} "
            mkdir -p ~/crud-app &&
            cd ~/crud-app &&

            echo 'Pulling latest image...'
            docker pull $DOCKER_USERNAME/crud-react-app:$ENV &&

            echo 'Deploying compose setup...'
            docker compose -f docker/docker-compose.$ENV.yml --env-file docker/.env.$ENV down &&
            docker compose -f docker/docker-compose.$ENV.yml --env-file docker/.env.$ENV up -d
          "
