name: Docker Image Build and Push

on:
  push:
    branches:
      - main
      - staging
      - dev

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up environment
        env:
          BRANCH_NAME: ${{ github.ref_name }}
        run: |
          echo "Branch detected: $BRANCH_NAME"

          # Assign tag and port based on branch
          if [ "$BRANCH_NAME" = "main" ]; then
            echo "IMAGE_TAG=prod" >> $GITHUB_ENV
            echo "APP_PORT=5000" >> $GITHUB_ENV
          elif [ "$BRANCH_NAME" = "staging" ]; then
            echo "IMAGE_TAG=staging" >> $GITHUB_ENV
            echo "APP_PORT=5001" >> $GITHUB_ENV
          elif [ "$BRANCH_NAME" = "dev" ]; then
            echo "IMAGE_TAG=dev" >> $GITHUB_ENV
            echo "APP_PORT=5002" >> $GITHUB_ENV
          else
            echo "Unknown branch. Exiting..."
            exit 1
          fi

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/crud-react-app:${{ env.IMAGE_TAG }} .

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/crud-react-app:${{ env.IMAGE_TAG }}

      - name: Deploy to Ubuntu Server
        env:
          PRIVATE_KEY: ${{ secrets.SSH_KEY }}
          HOST_NAME: ${{ secrets.HOST_NAME }}
          USER_NAME: ${{ secrets.USER_NAME }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          IMAGE_TAG: ${{ env.IMAGE_TAG }}
          APP_PORT: ${{ env.APP_PORT }}
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASS: ${{ secrets.DB_PASS }}
          DB_NAME: ${{ secrets.DB_NAME }}
        run: |
          echo "$PRIVATE_KEY" > private_key
          chmod 600 private_key

          ssh -o StrictHostKeyChecking=no -i private_key ${USER_NAME}@${HOST_NAME} "
            docker pull $DOCKER_USERNAME/crud-react-app:$IMAGE_TAG &&
            docker stop crud-react-app-$IMAGE_TAG || true &&
            docker rm crud-react-app-$IMAGE_TAG || true &&
            docker run -d --restart always -p $APP_PORT:5000 \
              -e DB_HOST=$DB_HOST \
              -e DB_USER=$DB_USER \
              -e DB_PASS=$DB_PASS \
              -e DB_NAME=$DB_NAME \
              --name crud-react-app-$IMAGE_TAG $DOCKER_USERNAME/crud-react-app:$IMAGE_TAG
          "
